<h2>Iniciar Sesión</h2>
<form action="/sessions/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Ingresar</button>
</form>
<a href="/register">Registrarse</a>
<br>
<a href="/reset-password">Olvido su contraseña</a>

<div>
    <a href="/sessions/github"><button>Ingrsar con GitHub</button></a>
</div> 