<h2>Reestablecer contraseña</h2>
<form action="/sessions/reset-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Cambiar contraseña</button>
</form>